body {
    display: flex;
    align-items: flex-end;
    height: 100vh;
    background-color: #0b1720;
    overflow: hidden;
}
.ball {
    width: 80px;
    height: 80px;
    background-color: #36756d;
    border-radius:60%; 
    position: relative;
    animation: bounce 3s ease-in-out infinite;
.box {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: #619cd3;
    border-radius: 20px;
    animation:rotate 3s linear infinite;
}
}
@keyframes bounce {
    0% {
        transform: translateY(0); 
    }
    100% {
        transform: translateY(-300px);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg);
    }
}